body{
    background: #c1bebe;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header-container{
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-icon-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-btn-1, .icon-btn-2, .icon-btn-3{
    border-radius: 10px;
    border: 1px solid #c1bebe;
    margin: 0px 5px;
    
    
}
.icon-btn-1, .icon-btn-2, .icon-btn-3, img{
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
}
.header-main a{
    
    margin: 0 20px;
}
a{
    color: black;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}
.icon-btn-4{
    display: flex;
    border-radius: 10px;
    border: 1px solid #c1bebe;
    padding:6px;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    margin-left: 5px;
}
.icon-btn-4 img{
    margin-left: 10px;
}